@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  @apply bg-[#fefefe] text-black;
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  body {
    @apply bg-[#fefefe] text-black;
  }
}

@layer components {
  .neo-box {
    @apply border-4 border-black bg-white;
    box-shadow: 6px 6px 0px black;
  }

  .neo-button {
    @apply border-4 border-black px-4 py-2 font-bold transition;
    box-shadow: 6px 6px 0px black;
  }

  .neo-button:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
  }

  .neo-input {
    @apply border-4 border-black px-3 py-2 w-full focus:outline-none;
  }
}



